$color:  (
  black: #000000,
  gray: #d5d5d5,
  gray-1: #4a4a4a,
  gray-2: #656565,
  white: #ffffff,
  red: #f03078,
  yellow: #ffee95,
  yellow-2: #eebe0e,
  pinks: #e28cad,
  green: #80c34c,
  gren: #4491d5,
  orange: #fc552f
);
